@charset "utf-8";
/* CSS Document */

@font-face{
font-family: "ng"; 
src: url("../font/NanumGothic.eot"); src:local(※);
src: url("../font/NanumGothic.eot?#iefix") format("embedded-opentype"), url("../font/NanumGothic.woff") format("woff");
}
@font-face{
font-family: "MinionPro"; 
src: url("../font/MinionPro-Bold.otf"); src:local(※);
src: url("../font/MinionPro-Bold.otf") format('embedded-opentype');
}
@font-face{
font-family: "NanumSquare"; 
src: url("../font/nanumsquare.eot"); src:local(※);
src: url("../font/nanumsquare.eot?#iefix") format("embedded-opentype"), url("../font/nanumsquare.woff") format("woff"), url(nanumsquare.ttf) format('truetype');
}
@font-face{
font-family: "nm"; 
src: url("../font/NanumMyeongjo.eot"); src:local(※);
src: url("../font/NanumMyeongjo.eot?#iefix") format("embedded-opentype"), url("../font/NanumMyeongjo.woff") format("woff"), url(nanumsquare.ttf) format('truetype');
}
@font-face {
font-family: 'notokrB';
src: url('../font/notokr-bold.eot'); src:local(※);
src: url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'),
	 url('../font/notokr-bold.woff2') format('woff2'),
	 url('../font/notokr-bold.woff') format('woff'),
	 url('../font/notokr-bold.ttf') format('truetype'),
	 url('../font/notokr-bold.svg#notokr-bold') format('svg');
}
@font-face {
font-family: 'notokrM';
src: url('../font/notokr-medium.eot'); src:local(※);
src: url('../font/notokr-medium.eot?#iefix') format('embedded-opentype'),
	 url('../font/notokr-medium.woff2') format('woff2'),
	 url('../font/notokr-medium.woff') format('woff'),
	 url('../font/notokr-regular.ttf') format('truetype'),
	 url('../font/notokr-regular.svg#notokr-regular') format('svg');
}
@font-face {
font-family: 'Noto Sans KR';
src: url('../font/notokr-regular.eot'); src:local(※);
src: url('../font/notokr-regular.eot?#iefix') format('embedded-opentype'),
	 url('../font/notokr-regular.woff2') format('woff2'),
	 url('../font/notokr-regular.woff') format('woff'),
	 url('../font/notokr-regular.ttf') format('truetype'),
	 url('../font/notokr-regular.svg#notokr-regular') format('svg');
}